@font-face {
  font-family: lofi;
  src: url(/Develop/assets/Fonts/JuliusSansOne-Regular.ttf);
}

@font-face {
  font-family: neon;
  src: url(/Develop/assets/Fonts/);
}

a {
  text-decoration: none;
}
.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-family: lofi;
}

.navbar {
  display: flex;
  padding: 2px;
}

.navbar li {
  display: inline-block;
  margin-right: 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.about {
  max-width: 400px;
  text-align: center;
}

.containerwork {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
 }

  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(60, 110, 64);
    width: 500px;
    height: 300px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 5px 6px 15px 1px rgb(60, 110, 64);
  }
  
  .important {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cardcamera {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(60, 110, 64);
    width: 500px;
    height: 400px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 5px 6px 15px 1px rgb(60, 110, 64);
  }
  

  li :hover {
    color: rgb(60, 110, 64);
    text-shadow: 1px 1px 1px rgb(60, 110, 64);
  }