/* There are commented-out border styling for visual represenation of child-block */
/* Please un-comment them for visual guidance on page */
/* For Projects to display, links to youtube/google etc. we're given because I do not have sample projects yet */

@font-face {
  font-family: lofi;
  src: url(Fonts/JuliusSansOne-Regular.ttf);
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(252, 246, 246);
}
a {
  text-decoration: none;
  color: black;
}

/* Header Area with Navbar Links */

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  font-family: lofi;
  font-size: 30px;
  color: black;
  
}
.lineblock {
  display: inline-block;
  vertical-align: middle;
  width: 70%; 
  border-top: 1px solid #000;
}

.navbar {
  padding: 2px;

}

.navbar li {
  font-size: 20px;
  display: inline-block;
  margin-right: 20px;
 
}


/* About Me Section with Headshot & Text */

.aboutme {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 1px solid black; */
    
  }
  .headshot {
    display: flex;
    flex: 0 1 400px;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
  }
  .photoofme {
    flex: 0 1 275px;
    background-image: url(photos/image0\ \(2\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 275px;
    height: 80%;
    /* margin-bottom: 50px; */
    margin-left: 40px;
    border-radius: 35px;
  }
  .txtunderphoto {
    flex: 1;
    width: 400px;
    text-align: center;
    /* border: 1px solid rgb(0, 0, 0); */
    align-self: flex-start;
    margin-right: 22%;
    margin-top: 90px;
    font-family: lofi;
    font-size: 23px;
    line-height: 1.1;
    }
  
   .about {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: lofi;
      text-align: center;
      font-size: 20px;
      line-height: 1.3;
      /* border: 1px solid black; */
      height: 400px;
      margin-right: 45%
    }


    /* Projects Styling With Two Blocks for Card Styling */
.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex: 1 1 24px;
  }

.text {
  font-family: lofi;
  display: inline-block;
  padding: 0 10px;
  font-size: 24px;
}

 .important {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

 .card0 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(60, 110, 64);
  width: 1000px;
  height: 400px;
  margin: 20px;
  border-radius: 10px;
  background-color: rgb(245, 241, 241);
  color: white;
  font-family: lofi;
  font-weight: bold;
  font-size: 24px;
  background-image: url(photos/winter1.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
 
}
.containerwork {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
 }
  .card {
    display: flex;
    flex: 2 1 500px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    width: 650px;
    height: 300px;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 5px 6px 15px 1px grey;
    background-color:  rgb(245, 241, 241);
    color: white;
    font-family: lofi;
    font-weight: bold;
    /* padding-left: 20px; */
    transition: .3s;
    font-size: 20px;

  }
  
  /* ID Selectors for Card with Background Images */

  #card1 {
    background-image: url(photos/plant1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  #card2 {
    background-image: url(photos/coffee1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  #card3 {
    background-image: url(photos/beach1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  #card4 {
    background-image: url(photos/city1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
 

  /* Footer Area */

  .footer {
    /* border: 1px solid black; */
    margin-top: 160px;
  }
  .contactinfo {
    display: flex;
    justify-content: space-evenly;
    padding: 2px;
  }
  
  .contactinfo li {
    font-size: 20px;
    display: inline-block;
    margin-right: 50px;
    font-family: lofi;
  }
 
/* Hover Effects */

  h2:before, h2:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #000;
    display: flex;
    justify-content: center;
}

  #card0:hover {
    box-shadow: 5px 6px 15px 1px rgb(149, 149, 218);
    cursor: pointer;
  }
  #card1:hover{
    box-shadow: 5px 6px 15px 1px rgb(60, 110, 64);
    cursor: pointer;
  }
  #card2:hover{
    box-shadow: 5px 6px 15px 1px rgb(94, 67, 27);
    cursor: pointer;
  }

  #card3:hover{
    box-shadow: 5px 6px 15px 1px rgb(68, 148, 180);
    cursor: pointer;
  }

  #card4:hover{
    box-shadow: 5px 6px 15px 1px rgb(23, 8, 65);
    cursor: pointer;
  }
  li :hover {
    color: rgb(60, 110, 64);
    text-shadow: 1px 1px 1px rgb(60, 110, 64);
  }
  

  .containerwork:hover > :not(:hover){
    opacity: .9;;
  }

  /* This code makes the blocked line in-between the Name and Navbar */

  .container::before,
  .container::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 45%; 
    border-top: 1px solid #000;
  }
  
    /* Media Queries Section */

 
  @media screen and (max-width: 1440px) {
      
      .about {
        margin-right: 2%;
      }

    .containerwork{
      display: flex;

      flex: 0 1 50%;
     
    }
    .card {
      padding-left: 0px;
      margin: 5px 0 ;
    }

    .header {
      display: flex;
      flex-direction: column;
      padding-right: 10px;
  
    }
    .navbar {
      display: flex;
      flex-direction: column;
    }
    .lineblock {
      display: flex;
      flex: 0 1 70%
      vertical-align: middle;
      width: 70%; 
      border-top: 1px solid #000;
      
    }
  
  
  
  @media screen and (max-width:1440px) {
    .header {
      display: flex;
      flex-direction: column;
      margin-left: 85px;
    }


    .aboutme {
      display: flex;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
       }
       .headshot {
        display: flex;
        flex-direction: column;
       }
       .photoofme {
        flex: 1 1 400px;
        width: 350px;
        margin-top: 15px;
        margin-right: 20px;
       }

       .containerwork {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
       }
    .card {
      display: flex;
      flex-wrap: wrap;
      margin: 20px;
      width: 995px;

    }


  }
  
